.main-cart {
  color: var(--light);
  padding: 0 6rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'nav-bar nav-bar cart-content cart-content cart-content cart-content cart-content cart-content'
}
.nav-bar {
  grid-area: nav-bar;
}
.cart-content {
  grid-area: cart-content;
  margin-top: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'item-content item-content total'
}
.item-content {
  grid-area: item-content;
}
.product-cart {
  width: 100%;
  margin-top: 40px;
  grid-area: product-cart;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'book-img-cart  book-content-cart book-content-cart price-cart change-count-cart'
}
.product-cart-1 {
  margin-top: 20px;
}
.book-img-cart {
  grid-area: book-img-cart;
  width: 138px;
  height: 184px;
}
.book-content-cart {
  grid-area: book-content-cart;
}
.book-content-cart img {
  width: 20px;
  height: 20px;
}
.price-cart {
  grid-area: price-cart;
}
.change-count-cart {
  grid-area: change-count-cart;
}

.total {
  grid-area: total;
  margin: 10px;
}
.total .title {
  float: left;
  width: 50%;
  font-size: 30px;
}
.total .total-price {
  font-size: 30px;
  float: right;
}

.product-cart h4 {
  font-size: 18px;
}
.product-cart p {
  font-size: 12px;
}
.buy-button {
  width: 260px;
  height: 47px;
  background: #ffffff;
  border-radius: 24px;
  font-size: 30px;
  margin: 10px 0;
  color: #777777;
}
.gift-button {
  width: 260px;
  height: 47px;
  background: #777777;
  border-radius: 24px;
  font-size: 30px;
  color: #fff;
}
.gift-button:hover {
  cursor: pointer;
}
.buy-button:hover {
  cursor: pointer;
}
.delete-cart:hover {
  cursor: pointer;
}
/* Responsive Style */
@media screen and (max-width: 600px) {
  .main-cart {
    margin-top: 130px;
    margin-bottom: 20px;
    padding: 0 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'nav-bar'
      'cart-content'
  }
  .cart-content {
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'total'
      'item-content'
  }
  .product-cart {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'book-img-cart  book-content-cart'
      'book-img-cart  price-cart'
      'book-img-cart change-count-cart'
  }
  .total {
    text-align: center;
  }
  .total .total-price {
    width: 50%;
    text-align: center;
  }
}
