/* body style */
.detail-body {
  color: #000;
  display: grid;
  padding: 0 6rem;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
  'nav-bar nav-bar content content content content content content'
}
.nav-bar {
  grid-area: nav-bar;
}
.content {
  grid-area: content;
}

.detail_question {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  box-sizing: inherit;
  margin-bottom: 10px;
  padding: 20px;
  line-height: 1.6em;
  padding: 15px;
  }

.detail_lang {
  color: var(--blue);
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  padding: 0 10px;
  border-radius: 3px;
  float: right;
  margin-left:10px; 
}

.detail_lang:hover{
  box-shadow: 2px 0px 4px #00CB834D,
  -2px 0px 4px #00CB834D,
  0px 2px 4px #00CB834D,
  0px -2px 4px #00CB834D;
}


@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  transition: all 0.2s ease;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f4f4f4;
}

.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment_block {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.comment_block .create_new_comment {
  width: 100%;
  padding: 20px 0;
}
.comment_block .create_new_comment .input_comment {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: calc(100% - 75px);
}
.comment_block .create_new_comment .input_comment input[type="text"] {
  width: 44%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
}
.comment_block .create_new_comment .input_comment .comment_button{
  float: right;
  color: var(--gray);
  background: #bbbbbb;
  border: none;
  margin: 12px 0 12px 0!important;

}
.comment_block .create_new_comment .input_comment .comment_button:hover{
  box-shadow: 2px 0px 4px #00CB834D,
  -2px 0px 4px #00CB834D,
  0px 2px 4px #00CB834D,
  0px -2px 4px #00CB834D;
}
.comment_block .create_new_comment .input_comment input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
}
.comment_block .new_comment {
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-top: 1px solid var(--blue);
}
.comment_block .new_comment .user_comment {
  list-style-type: none;
}
.comment_block .new_comment .comment_body {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: .9rem;
  color: #555;
  background-color: #FFF;
}

.reply {
  margin-left: 30px;
  margin-top: 10px; 
}
.comment_block .new_comment .comment_body .replied_to p {
  padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
  color: #6495ED;
  margin-right: 2px;
}
.comment_block .new_comment .comment_toolbar {
  width: 100%;
}
.comment_block .new_comment .comment_toolbar ul {
  list-style-type: none;
  padding-left: 75px;
  font-size: 0;
}
.comment_block .new_comment .comment_toolbar ul li {
  display: inline-block;
  padding: 5px;
  font-size: .7rem;
  color: #000000;
}
.comment_block .new_comment .comment_toolbar ul li:hover {
  cursor: pointer;
}
.comment_block .new_comment .comment_toolbar .comment_details {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
.comment_block .new_comment .comment_toolbar .comment_tools {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: right;
}

.comment_block .new_comment .comment_toolbar .rate_comment {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  text-align: right;
}

.comment_block .new_comment .comment_toolbar .comment_tools li:hover {
  color: #CCC;
}
.comment_block .new_comment .user:hover {
  color: #6495ED;
  text-decoration: underline;
}
.comment_block .new_comment .love:hover {
  color: #FF6347;
}
.checked {
  color: orange;
}

.input-reply {
  min-height: 60px;
  transition: all 0.5s ease-out;
}
.input-reply input {
  border: none;
  border-bottom: 1px solid var(--blue);
  width: 60%;
  float: right;
  padding: 8px 15px 3px 15px;
  font-size: 1rem;
  font-family: "Lato", sans-serif; 
  color: #444;
  font-weight: lighter;
}
.input-reply button {
  float: right;
  border: none;
  background: #bbbbbb;
  padding: 5.5px 15px 5.5px 15px;
  color: var(--gray);
  margin-left: 5px;
  border-radius: 3px; 

}
.input-reply button:hover{
  box-shadow: 2px 0px 4px #00CB834D,
  -2px 0px 4px #00CB834D,
  0px 2px 4px #00CB834D,
  0px -2px 4px #00CB834D;
}