/* body style */
.detail-body {
  color: var(--light);
  display: grid;
  padding: 0 6rem;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'nav-bar nav-bar main-content main-content main-content main-content main-content main-content'
}

.nav-bar {
  grid-area: nav-bar;
}
.main-content {
  grid-area: main-content;
}

/* main content style */
.book-direct {
  padding: 1rem 0;
  line-height: 100%;
}
.book-direct span {
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 0 0 4px 0;
}
.book-infor {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'book-slide book-slide book-detail book-detail book-detail'
}
.book-slide {
  grid-area: book-slide;
}
.book-detail {
  grid-area: book-detail;
}
.option {
  display: inline-flex;
  background-color: var(--light);
  border-radius: 20px;
  color: var(--gray);
  text-align: center;
  font-weight: bold;
}
.option span {
  display: flex;
  align-items: center;
}
.minus:hover {
  cursor: pointer;
}
.plus:hover {
  cursor: pointer;
}
.add-cart:hover {
  cursor: pointer;
}
.add-cart {
  display: inline-flex;
  height: 2.5rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
}
.detail-infor {
  width: 80%;
}
.book-slide .image-slide {
  width: 300px;
  height: 450px;
}
.circle {
  padding: 5px 0;
  text-align: center;
}
.circle-slide {
  transition: var(--easeOut);
  height: 18px;
  width: 18px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid var(--light);
}
.circle-slide:hover {
  cursor: pointer;
}
.active {
  background: var(--light);
  transition: var(--easeOut);
}

.comment-nav {
  margin-top: 3rem;
  height: 3rem;
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'comment-input comment-input comment-input comment-input comment-button'
}
.comment-input {
  grid-area: comment-input;
  border-radius: 25px;
  padding: 10px;
}
.comment-button {
  grid-area: comment-button;
  border-radius: 25px;
}
.star-static {
  height: 80px;
  padding: 1rem 0;
}

.comment {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'user comment-detail comment-detail comment-detail comment-detail'
}
.user {
  grid-area: user;
  text-align: center;
  padding: 0;
}
.comment-detail {
  grid-area: comment-detail;
}
.user > img {
  height: 3.5rem;
}
.user > h4 {
  margin: 0;
}
.user > p {
  margin: 0;
}
.comment-detail > img {
  height: 1rem;
}
.comment-detail > .star {
  height: 30px;
}
.numeric {
  float: right;
  width: 50%;
}
.suggest {
  margin-top: 3rem;
}
.suggest-book {
  background: transparent;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'book-1 book-2 book-3 book-4'
}
.book {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}
.book > h4 {
  margin: 3px;
}
.book > span {
  margin: 0;
}
.book-1 {
  grid-area: book-1;
}
.book-2 {
  grid-area: book-2;
}
.book-3 {
  grid-area: book-3;
}
.book-4 {
  grid-area: book-4;
}
.detail {
  font-size: 0.8rem;
  width: 50%;
  display: grid;
  margin-bottom: 2rem;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'entity infor-entity'
}
.detail ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2rem;
}
.entity {
  grid-area: entity;
}
.infor-entity {
  grid-area: infor-entity;
}
.slide-suggest {
  width: 60%;
  margin: 0 23vw;
  padding: 0 7vw;
  margin-bottom: 50px
}
.numeric-box {
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: 15px;
  border: 2px solid #BBBBBB;
  color: #BBBBBB;
  display: inline;
  margin: 0 4px;
}
.numeric-box:hover {
  cursor: pointer;
}
.numeric img:hover {
  cursor: pointer;
}
.active-box {
  background: #BBBBBB;
  color: var(--primary);
}
/* Responsive Style */
@media screen and (max-width: 600px) {
  .detail-body {
    margin-top: 130px;
    padding: 0 1rem;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'nav-bar'
      'main-content'
  }

  /* main content style */
  .book-infor {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'book-slide book-detail'
  }
  .detail-infor {
    width: 100%;
  }
  .book-slide .image-slide {
    width: 180px;
    height: 240px;
  }
  .book-detail h2 {
    font-size: 18px;
  }
  .book-detail p {
    font-size: 12px;
  }


  .comment-nav {
    height: 3rem;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'comment-input comment-input comment-button'
  }
  .comment {
    padding: 0 2rem;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'user  comment-detail comment-detail'
  }
  .star-center {
    text-align: center;
  }

  .numeric {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
  .suggest-book {
    width: 100% !important;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'book-1 book-2'
      'book-3 book-4'
  }
  .detail {
    font-size: 0.8rem;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    grid-gap: 10px;
  }
}
